In [1]:
!python --version

Python 3.7.12

In [2]:
import pandas as pd
pd.__version__

'1.1.5'

In [9]:
url = 'https://raw.githubusercontent.com/LilianaC/Pandas/master/Sevengill%20shark%20data%20-%20Sevengill%20Shark%20Tag%20Catch%20Data.csv'
dataframe = pd.read_csv(url)

In [ ]:
dataframe

###Información del DataFrame

In [12]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Tagged Fish Id      32 non-null     object
 1   Date                32 non-null     object
 2   Tag Life            32 non-null     int64
 3   Transmitter Model   32 non-null     object
 4   Tagging Location    32 non-null     object
 5   Total Length        32 non-null     int64
 6   Weight              30 non-null     float64
 7   Sex                 32 non-null     object
 8   Record Number       32 non-null     object
 9   Accessed Date       32 non-null     object
 10  Source Url          32 non-null     object
 11  Preferred Citation  32 non-null     object
dtypes: float64(1), int64(2), object(9)
memory usage: 3.1+ KB

###Muestra de registros | Todas las columnas del dataframe | con **n** definido por el usuario

In [15]:
dataframe.sample(n = 7)

   Tagged Fish Id  ...                                 Preferred Citation
21          1632B  ...  Williams, Gregory; 06/05/2018. NOAA Fisheries ...
0             88A  ...  Williams, Gregory; 06/05/2018. NOAA Fisheries ...
1           1612B  ...  Williams, Gregory; 06/05/2018. NOAA Fisheries ...
8           1619B  ...  Williams, Gregory; 06/05/2018. NOAA Fisheries ...
24          4075B  ...  Williams, Gregory; 06/05/2018. NOAA Fisheries ...
26          4077B  ...  Williams, Gregory; 06/05/2018. NOAA Fisheries ...
23          1634B  ...  Williams, Gregory; 06/05/2018. NOAA Fisheries ...

[7 rows x 12 columns]

In [17]:
dataframe_sample = dataframe.sample(n = 5).copy()
print("Una muestra de: {} observaciones.".format(len(dataframe_sample)))

Una muestra de: 5 observaciones.

###Muestra de registros | Una columna del dataframe | con **n** definido por el usuario

In [18]:
dataframe['Weight'].sample(n = 7)

21     NaN
7     75.0
4     20.0
14    57.0
12    20.0
8     12.0
1     43.0
Name: Weight, dtype: float64

###Muestra de registros | Porcentaje del total de la muestra| con **frac** definido por el usuario

In [21]:
dataframe['Weight'].sample(frac = .3)

8     12.0
7     75.0
6     19.0
29    50.0
28    71.0
19    36.0
9     60.0
16    16.0
0     16.0
3     17.0
Name: Weight, dtype: float64

In [22]:
len(dataframe['Weight'].sample(frac = .3))

10

###Muestra de registros | Aleatoria | Siempre la misma muestra

In [24]:
dataframe['Weight'].sample(n = 7, random_state = 1) #Reprosubilidad del experimento

27     30.0
3      17.0
22     27.0
18     30.0
23    111.0
17     38.0
21      NaN
Name: Weight, dtype: float64

###Muestra de registros | Aleatoria | Cambiar la selección

In [53]:
import random 
dataframe['Weight'].sample(n = 7, random_state = random.randint(0, 100000))

15     21.0
17     38.0
23    111.0
12     20.0
0      16.0
29     50.0
24     44.0
Name: Weight, dtype: float64

###Muestra de registros | Volver a seleccionar los registros|  **replace**

In [62]:
dataframe2 = pd.DataFrame({'Calificación1': [100, 80, 20, 10, 30, 10],
                           'Calificación3': [30, 100, 10, 0, 100, 5],
                           'Calificación4': [100, 90, 70, 80, 80, 100],
                           'Calificación7': [10, 33, 20, 50, 77, 1],},
                          index = ['Estudiante 1','Estudiante 2','Estudiante 3','Estudiante 4','Estudiante 5','Estudiante 6'])

In [63]:
dataframe2

              Calificación1  Calificación3  Calificación4  Calificación7
Estudiante 1            100             30            100             10
Estudiante 2             80            100             90             33
Estudiante 3             20             10             70             20
Estudiante 4             10              0             80             50
Estudiante 5             30            100             80             77
Estudiante 6             10              5            100              1

In [64]:
dataframe2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Estudiante 1 to Estudiante 6
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Calificación1  6 non-null      int64
 1   Calificación3  6 non-null      int64
 2   Calificación4  6 non-null      int64
 3   Calificación7  6 non-null      int64
dtypes: int64(4)
memory usage: 240.0+ bytes

In [65]:
dataframe2.sample(n = 7, replace = True)

              Calificación1  Calificación3  Calificación4  Calificación7
Estudiante 3             20             10             70             20
Estudiante 4             10              0             80             50
Estudiante 1            100             30            100             10
Estudiante 2             80            100             90             33
Estudiante 2             80            100             90             33
Estudiante 2             80            100             90             33
Estudiante 3             20             10             70             20

###Muestra de registros | Pesos | Weights

In [71]:
import numpy as np
dataframe2['pesos'] = np.where(dataframe2.Calificación4 > 85, 77, 0) #Los pesos se añaden en la columna de Calificación 4
dataframe2

              Calificación1  Calificación3  Calificación4  Calificación7  pesos
Estudiante 1            100             30            100             10     77
Estudiante 2             80            100             90             33     77
Estudiante 3             20             10             70             20      0
Estudiante 4             10              0             80             50      0
Estudiante 5             30            100             80             77      0
Estudiante 6             10              5            100              1     77

In [78]:
dataframe2.sample(n = 3, weights = 'pesos')

              Calificación1  Calificación3  Calificación4  Calificación7  pesos
Estudiante 2             80            100             90             33     77
Estudiante 1            100             30            100             10     77
Estudiante 6             10              5            100              1     77